<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>name</key>
		<string>Test</string>
		<key>start</key>
		<real>2</real>
		<key>tempo</key>
		<integer>120</integer>
		<key>score_hard</key>
		<integer>149400</integer>
		<key>score_easy</key>
		<integer>149400</integer>
	</dict>
	<key>notes</key>
	<array>
		<dict>
			<key>duration</key>
			<real>0</real>
			<key>timeBegin</key>
			<real>0</real>
			<key>track</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<real>0</real>
			<key>timeBegin</key>
			<integer>2</integer>
			<key>track</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<real>0</real>
			<key>timeBegin</key>
			<integer>4</integer>
			<key>track</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<real>0</real>
			<key>timeBegin</key>
			<integer>6</integer>
			<key>track</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<real>0</real>
			<key>timeBegin</key>
			<integer>8</integer>
			<key>track</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>10</integer>
			<key>track</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>14</integer>
			<key>track</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>16</integer>
			<key>track</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>18</integer>
			<key>track</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>20</integer>
			<key>track</key>
			<integer>8</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>22</integer>
			<key>track</key>
			<integer>8</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>duration</key>
			<integer>0</integer>
			<key>timeBegin</key>
			<integer>24</integer>
			<key>track</key>
			<integer>8</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
